In [1]:
import sqlite3

conn = sqlite3.connect('employee.db')
c = conn.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS employees (
             id INTEGER PRIMARY KEY,
             name TEXT NOT NULL,
             age INTEGER,
             salary REAL)''')
conn.commit()

def add_employee():
    name = input("Enter employee name: ")
    age = int(input("Enter employee age: "))
    salary = float(input("Enter employee salary: "))

    c.execute("INSERT INTO employees (name, age, salary) VALUES (?, ?, ?)",
              (name, age, salary))
    conn.commit()
    print("Employee added successfully!")

def view_employees():
    c.execute("SELECT * FROM employees")
    rows = c.fetchall()
    for row in rows:
        print(row)

def update_employee():
    employee_id = int(input("Enter the ID of the employee you want to update: "))
    name = input("Enter employee name: ")
    age = int(input("Enter employee age: "))
    salary = float(input("Enter employee salary: "))

    c.execute("UPDATE employees SET name=?, age=?, salary=? WHERE id=?",
              (name, age, salary, employee_id))
    conn.commit()
    print("Employee updated successfully!")

def delete_employee():
    employee_id = int(input("Enter the ID of the employee you want to delete: "))
    c.execute("DELETE FROM employees WHERE id=?", (employee_id,))
    conn.commit()
    print("Employee deleted successfully!")

def main():
    while True:
        print("\nEmployee Management System")
        print("1. Add Employee")
        print("2. View Employees")
        print("3. Update Employee")
        print("4. Delete Employee")
        print("5. Exit")
        choice = input("Enter your choice: ")

        if choice == '1':
            add_employee()
        elif choice == '2':
            view_employees()
        elif choice == '3':
            update_employee()
        elif choice == '4':
            delete_employee()
        elif choice == '5':
            break
        else:
            print("Invalid choice. Please enter a valid option.")

    conn.close()

if __name__ == "__main__":
    main()

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 1
Enter employee name: Aswathy
Enter employee age: 25
Enter employee salary: 2000
Employee added successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 2
(1, 'Aswathy', 25, 2000.0)

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 1
Enter employee name: tis
Enter employee age: 30
Enter employee salary: 3000
Employee added successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 1
Enter employee name: jerry
Enter employee age: 29
Enter employee salary: 3000
Employee added successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 2
(1, 'Aswathy', 25, 2000.0)
(2, 'tis', 30, 3000.0)
(3, 'jerry', 29, 3000.0)

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 3
Enter the ID of the employee you want to update: 1
Enter employee name: Asha
Enter employee age: 24
Enter employee salary: 6000
Employee updated successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 2
(1, 'Asha', 24, 6000.0)
(2, 'tis', 30, 3000.0)
(3, 'jerry', 29, 3000.0)

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 4
Enter the ID of the employee you want to delete: 3
Employee deleted successfully!

Employee Management System
1. Add Employee
2. View Employees
3. Update Employee
4. Delete Employee
5. Exit
Enter your choice: 5