<a href="https://colab.research.google.com/github/AbyThomas10/Python_Course_Mar24/blob/main/MST_Python_Day_3_Practice_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
scores = [2, 3, 6, 6, 5]
sorted_score = sorted(set(scores), reverse=True)
print ("the sorted score ==> ",sorted_score)
if len(sorted_score) < 2:
   print("There is no runner-up score.")
else:
   print("The runner-up score is:", sorted_score[1])

the sorted score ==>  [6, 5, 3, 2]
The runner-up score is: 5

In [7]:
D = {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}
name = input("Enter a name: ")
if name in D:
    D[name] = [88, 77, 99]
    print("Dictionary after updating values for", name, ":", D)
else:
    print("Name not found")

Enter a name: Peter
Dictionary after updating values for Peter : {'John': [25, 32, 43], 'Peter': [88, 77, 99], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

In [12]:
age = int(input("Enter ur age: "))
gender = input("Enter your gender (male/female): ")
if age < 5 or age > 60:
    print("Ticket price: Rs. 0")
elif age >= 5 and age <= 12:
    if gender.lower() == 'female':
      print("Ticket Price: Rs. 5")
    else:
      print("Ticket Price: Rs. 10")
else:
      if gender.lower() == 'female':
        print("Ticket Price: Rs. 25")
      else:
       print("Ticket Price: Rs. 50")

Enter ur age: 35
Enter your gender (male/female): Male
Ticket Price: Rs. 50